
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding:0 ;
}   

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 350px;
    height: 50px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    padding: 0 20px;
}

h2{
    letter-spacing: 1.1px;
    font-size: 30px;
    color: #000;
    font-family:cursive;
}

#Color{
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 900;
    color: #222;
}

#btn{
   margin: 20px 0;
   background: transparent;
   border: none;
   padding: 8px 20px;
   box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
   color: rgb(28, 24, 32);
   font-size: 20px;
   cursor: pointer;
   transition: 0.3s;
}

#btn:hover{
    transform: scale(0.9);
}




